<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="mqtt.hostname" value="192.168.1.223"/>
    <add key="command.processor.classname" value="sitewhere_dotnet_agent.ExampleCommandProcessor"/>
    <add key="device.hardware.id" value="test123"/>
    <add key="device.specification.token" value="7dfd6d63-5e8d-4380-be04-fc5c73801dfb"/>
    <add key="mqtt.outbound.sitewhere.topic" value="SiteWhere/input/json"/>
    <add key="site.token" value="bb105f8d-3150-41f5-b9d1-db04965668d3"/>
  </appSettings>
</configuration>